@import url("https://fonts.googleapis.com/css2?family=Baskervville&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 0.2rem;
    font-family: "Baskervville", serif;
    font-variant: lining-nums;
}

a {
    text-decoration: none;
}

img {
    vertical-align: bottom;
}

ul {
    list-style: none;
}

.container {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    padding: 0 12px;
}

/* header */

.header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 60px 0;
}

.header__nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__list {
    display: flex;
    column-gap: 30px;
}

.header__link,
.header__home {
    font-size: 20px;
    color: #000;
    font-weight: 700;
}

.header__title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    text-align: center;
    font-size: calc(28px + 12 * (100vw / 1920));
}

.header__bottom {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: calc(12px + 8 * (100vw / 1920));
}

.header__burger {
    display: none;
}

@media (min-width: 2560px) {
    .header__title {
        font-size: 40px;
    }

    .header__bottom {
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    .header__title {
        font-size: calc(28px + (12 + 12 * 0.7) * ((100vw - 320px) / 1920));
    }

    .header__bottom {
        font-size: calc(12px + (8 + 8 * 0.7) * ((100vw - 320px) / 1920));
    }
}

@media (max-width: 768px) {
    .header__menu {
        position: fixed;
        z-index: 999;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255);
        display: flex;
        transition: 0.4s;
    }

    .header__menu.active {
        left: 0;
    }

    .header__list {
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        flex-grow: 1;
    }

    .header__burger {
        width: 50px;
        height: 50px;
        display: grid;
        place-items: center;
        position: relative;
        z-index: 999;
    }

    .header__burger-line {
        width: 100%;
        height: 2px;
        background: #000;
        position: relative;
        transition: 0.4s;
    }

    .header__burger-line.active {
        background: transparent;
    }

    .header__burger-line::after,
    .header__burger-line::before {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000;
        transition: 0.4s;
    }

    .header__burger-line::before {
        top: -10px;
    }

    .header__burger-line::after {
        top: 10px;
    }

    .header__burger-line.active::before {
        top: 0;
        transform: rotate(-45deg);
    }

    .header__burger-line.active::after {
        top: 0;
        transform: rotate(45deg);
    }
}

/* header */

/* about */

.about {
    min-height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
    background: rgba(255, 255, 255, 0.7);
    padding: 180px 0;
    text-align: center;
}

.about__image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
}

.about__title {
    margin-bottom: 60px;
}

.about__txt {
    font-size: calc(14px + 10 * (100vw / 1920));
    font-weight: 700;
    text-transform: uppercase;
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

@media (min-width: 2560px) {
    .about__txt {
        font-size: 24px;
    }
}

@media (max-width: 768px) {
    .about__txt {
        font-size: calc(14px + (10 + 10 * 0.7) * ((100vw - 320px) / 1920));
    }
}

/* about */

/* services */

.services {
    min-height: 100vh;
    padding: 60px 0;
    display: flex;
    align-items: center;
    position: relative;
    background: rgba(255, 255, 255, 0.7);
}

.services__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.services__title {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 60px;
}

.services__list {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    row-gap: 6px;
    padding-left: 20px;
}

.services__item {
    font-size: calc(14px + 10 * (100vw / 1920));
    font-weight: 700;
    text-transform: uppercase;
}

@media (min-width: 2560px) {
    .services__item {
        font-size: 24px;
    }
}

@media (max-width: 768px) {
    .services__item {
        font-size: calc(14px + (10 + 10 * 0.7) * ((100vw - 320px) / 1920));
    }
}

/* services */

/* showreel */

.showreel {
    padding: 80px 0;
    position: relative;
    background: rgba(255, 255, 255, 0.9);
    text-align: center;
}

.showreel__image {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.showreel__video {
    display: block;
    max-width: 800px;
    width: 100%;
    min-height: 450px;
    background: #000;
    margin: 0 auto 30px;
}

.showreel__title {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.showreel__partners {
    width: 90%;
}

/* showreel */

/* footer */

.footer {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.footer .container {
    padding: 0;
}

.footer__content {
    position: relative;
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    min-height: 675px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 12px;
    text-align: center;
}

.footer__content-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.footer__title {
    margin-bottom: 90px;
}

.footer__link {
    text-transform: uppercase;
    color: #000;
    font-size: calc(14px + 10 * (100vw / 1920));
    font-weight: 700;
}

.footer__contacts {
    font-size: calc(14px + 10 * (100vw / 1920));
    color: #000;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    font-weight: 700;
    word-break: break-all;
}

.footer__list {
    margin-bottom: 40px;
    word-break: break-all;
}

.footer__contacts-link {
    color: #000;
}

@media (min-width: 2560px) {
    .footer__link,
    .footer__contacts {
        font-size: 24px;
    }
}

@media (max-width: 768px) {
    .footer__link,
    .footer__contacts {
        font-size: calc(16px + (10 + 10 * 0.7) * ((100vw - 320px) / 1920));
    }
}

/* footer */
